.team-section {
    background-color: var(--secondary-bg-color);
}
.team__list {
    margin-bottom: calc(-1 * var(--card-set-gat));
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;    
        
        margin-right: calc(-1 * var(--card-set-gat));
    }
}
.team__item {
    margin-bottom: var(--card-set-gat);
    background-color: var(--primary-white-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    
    @media screen and (min-width:768px) {
        margin-right: var(--card-set-gat);
        width: calc(100% / 2 - var(--card-set-gat));
    }
    
    @media screen and (min-width:1200px) {
        width: calc(100% / 4 - var(--card-set-gat));
    } 
}

.team__card {
    padding: 30px 32px;
}

.team__caption {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team__caption--name {
    margin-bottom: 10px;

    font-weight: 500;

    color: var(--secondary-color-text);

}
